<div class="right_col" role="main">
  <div class="row">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-caret-square-o-right"></i>
        </div>
        <div class="count">179</div>
        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-comments-o"></i>
        </div>
        <div class="count">179</div>
        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-sort-amount-desc"></i>
        </div>
        <div class="count">179</div>
        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6  ">
      <div class="tile-stats">
        <div class="icon"><i class="fa fa-check-square-o"></i>
        </div>
        <div class="count">179</div>
        <h3>New Sign ups</h3>
        <p>Lorem ipsum psdea itgum rixt.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 ">
      <div class="x_panel">
        <div class="x_title">
          <h2>Let's Get Started!</h2>
          <!--<ul class="nav navbar-right panel_toolbox">-->
          <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
          <!--</li>-->
          <!--</ul>-->
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Create or connect your Shopify store</a>
                    </h2>
                    <p class="excerpt">
                      In order to start selling you have to have a Shopify store.
                      <button type="button" class="btn btn-info btn-sm btn-position">Create or Connect a Store</button>
                    </p>

                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Add your first product</a>
                    </h2>
                    <p class="excerpt">
                      Find product that you want to sell in your store.
                      <button type="button" class="btn btn-info btn-sm btn-position">Import Products to your Store</button>
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="block">
                  <div class="block_content">
                    <h2 class="title">
                      <a>Go Live</a>
                    </h2>
                    <p class="excerpt">
                      It's a very exciting step! Check some important things to do before you go live.
                      <button type="button" class="btn btn-info btn-sm btn-position">Shopify Settings</button>
                      <ul class="quick-list">
                        <li>
                          <strong>Design your store.</strong>
                          <a href="#" class="links">How to edit the store template</a>
                          <p>
                            Good store design will help you build trust with your customers.
                          </p>
                      </li>
              <li>
                <strong>Set up shipping settings.</strong> <a href="#" class="links">How to setup shipping settings</a>
                <p>
                  Set up your preferred shipping zones and shipping prices.
                </p>
              </li>
              <li>
                <strong>Choose a Shopify plan.</strong>
                <p>
                  A <a href="#" class="links">Shopify subscription plan</a> is necessary in order to go live.
                </p>
              </li>
              <li>
                <strong>  Remove your store password.</strong>
                <p>
                  You only need to <a href="#" class="links">remove the password from your store</a> and it's live!
                </p>
              </li>
            </ul>
            </p>
          </div>
        </div>
        </li>
        <li>
          <div class="block">
            <div class="block_content">
              <h2 class="title">
                <a>Make a sale</a>
              </h2>
              <p class="excerpt">Here are some ideas that will help you make your first sale faster.
                <button type="button" class="btn btn-info btn-sm btn-position">Learn Marketing</button>
                <ul class="quick-list">
                  <li>
                    <strong>Optimize your store.
                    </strong>
                    <a href="#" class="links">How to optimize</a>
              <p>
                Improve your product pages and store, get a custom domain, and discover additional apps.
              </p>
        </li>
        <li>
          <strong>Advertise your store.</strong>
          <a href="#" class="links">How to market your store</a>
          <p>
            Learn about setting up Facebook, Instagram, and email marketing campaigns.
          </p>
        </li>
        </ul>
              </p>
            </div>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!--<h2>Products</h2>-->

<!--<ul>-->
<%# @products.each do |product| %>
<!--    <li><%#= link_to product.title, "https://#{@current_shopify_session.domain}/admin/products/#{product.id}", target: "_top" %></li>-->
<%# end %>
<!--</ul>-->

<!--<hr>-->

<!--<h2>Webhooks</h2>-->

<%# if @webhooks.present? %>
<!--  <ul>-->
<%# @webhooks.each do |webhook| %>
<!--      <li><%#= webhook.topic %> : <%#= webhook.address %></li>-->
<%# end %>
<!--  </ul>-->
<%# else %>
<!--  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>-->
<%# end %>
